<%- include('header') -%>

<%- include('navbar') -%>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h1>Sou um desenvolvedor dedicado a aprender continuamente e aplicar meus conhecimentos de forma escalável.</h1>
                <p>Meus contatos:</p>
                <div class="btn-group" role="group" aria-label="Contatos">
                    <a href="https://github.com/MatheusRodrigues10" class="btn btn-outline-primary btn-lg"><i class="fa-brands fa-github"></i> GitHub</a>
                    <a href="https://wa.me/+5511999228409" class="btn btn-outline-success btn-lg"><i class="fa-brands fa-whatsapp"></i> WhatsApp</a>
                </div>
            </div>
        </div>
    </div>


<%- include('footer') -%>